@font-face { font-family: OpenSans; src: local("☺"), url("fonts/OpenSans-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; font-family: OpenSans-Regular, Arial, sans-serif, Verdana, Helvetica; }
body { color: #323234; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

img { vertical-align: middle; border: 0;}
a img { border: none; }
a img:hover { border: none; }

p { margin: 0; padding: 0; }

a { text-decoration: none; background-color: transparent; }
a.bluelink { color: #50a8e1; }
a.bluelink:hover { color: #61c2ec; }

input { color: #323334; font-weight: normal; }

input.invalid { background-color: #FF9; border: 2px red inset; }
ul { list-style: none; padding: 0; margin: 0; }
ul span {
  cursor:pointer;
  text-decoration: none;
}

.mt30 {margin-top: 30px;}
.mt20 {margin-top: 20px;}
.mt15 {margin-top: 15px;}
.mt10 {margin-top: 10px;}
.mt5 {margin-top: 5px;}
.mr5 {margin-right: 5px; }
.ml12 {margin-left: 12px;}
.ml40 {margin-left: 40px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}

.ds-div-scanPageAPI, .ds-div-scanPageHeader, .ds-div-scanPageNote,
.ds-div-scanPageDemo, .ds-div-scanPageDemo-button,
.ds-div-scanPageTry {
  margin: 0 auto;
  padding: 0;
  min-width: 890px;
}

.ds-div-scanPageHeader {
  width: 1500px;
  min-width: 1150px;
  position: relative;
  margin: 0 auto;
  padding: 25px 0 0 10px;
  border:0
}
.ds-div-scanPageHeader p {
  width: 1500px;
  height: 20px;
}

.ds-div-scanPageDemo {
  width: 1500px;
  min-width: 1150px;
  min-height: 530px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  height: 50vh;
  border:0
}

.ds-div-scanPageTry {
  width: 1500px;
  min-width: 1150px;
  margin: 30px auto 0 auto;
  padding: 0 0 0 10px;
  height: 190px;
  border: 1px solid #CCCCCC;
  text-align: center;
}
.ds-div-scanPageTry h2{
  font-weight: 400;
  line-height: 35px;
  padding: 0;
  margin: 35px 0 0 0;
}
.ds-div-scanPageTry div{
  line-height: 30px;
}

.ds-div-scanPageAPI {
  width: 1500px;
  min-width: 1150px;
  margin: 4px auto 0 auto;
  padding: 5px;
  height: 45px;
}
.ds-div-scanPageAPI-toFrame {
  display: none;
}
.ds-div-try-buttons {
  margin-top: 20px;
  line-height: 30px;
}

.ds-frame-runner{
    width: 100%; 
    height: 60vh; 
    border:0
}
.ds-div-scanPage-column {
  margin-top: 20px;
  padding: 10px;
  flex-wrap: wrap;
  height: 100%;
}
.ds-div-scanPage-column0 {
  width: 500px;
  padding: 20px 5px 5px 20px;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-right: 0;
}
.ds-div-scanPage-column1 {
  width: calc(100% - 500px);
  padding: 0;
}
.ds-div-title {
  width: 650px;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 24px;
  font-weight: normal;
  font-family: OpenSans;
}
.ds-div-download {
  position: absolute;
  right: 30px;
  top: 40px;
}
.ds-div-download a {
  font-weight: normal;
  font-family: OpenSans;
  color: #FFF;
  text-decoration: none; 
}

.ds-div-download a:link, .ds-div-download a:visited { color: #FFF; }
.ds-div-download a:hover { color: #EEE; }

.ds-button {
  padding: 10px 15px;
  color: #FFF;
  background-color: #fe8e14;
  border: 1px solid #fe8e14;
}


input[type=button]{
  cursor: pointer;
}
input[type=color]{
  cursor: pointer;
}

input[type=button]:disabled{
  border: 2px solid #bfbfbf;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.ds-button-bg-black, .ds-button-bg-black-thin, 
.ds-button-bg-white, .ds-button-bg-white-thin {
  padding: 5px 7px; 
  margin: 10px 4px 10px 0;
  min-width: 90px
}

.ds-button-bg-black {
  color: #fff;
  background-color: #323234;
  border: 2px solid #606060;
  font-weight: 600;
}

.ds-button-bg-black-thin, 
.dynamsoft-dialog-selectsource-button-select, .dynamsoft_btnSave, 
#dvsImageEditorRotateOk, #dvsRotateOk, #dvsChangeSizeOk, #dvsImageEditorChangeSizeOk
{
  color: #fff;
  background-color: #323234;
  border: 1px solid #606060;
}
.ds-button-bg-white {
  color: #323234;
  background-color: #fff;
  border: 2px solid #606060;
  font-weight: 600;
}
.ds-button-bg-white-thin, 
.dynamsoft-dialog-selectsource-button-cancel, .dynamsoft_btnCancel, 
#dvsImageEditorRotateCancel, #dvsRotateCancel, #dvsChangeSizeCancel, #dvsImageEditorChangeSizeCancel {
  color: #323234;
  background-color: #fff;
  border: 1px solid #606060;
}


@media screen and (max-height: 1080px) {
  body { font-size:13px; line-height: 22px;}
    
  .ds-div-scanPageDemo {
    min-height: 530px;
  }

  .ds-div-scanPageTry {
    margin: 30px auto 0 auto;
    padding: 0 0 0 10px;
    height: 190px;
  }

  .ds-div-scanPageAPI {
    margin: 4px auto 0 auto;
    padding: 5px;
    height: 45px;
  }
  .ds-div-download {
    top: 40px;
  }
}

@media screen and (min-height: 1080px) {
  body { font-size:16px; line-height: 26px;}

  .ds-div-scanPageDemo {
    min-height: 535px;
  }
  
  .ds-div-scanPageHeader {
    padding: 40px 0 15px 10px;
  }
  .ds-div-scanPageHeader p {
    height: 40px;
  }

  .ds-div-scanPageTry {
    margin: 40px auto 0 auto;
    height: 220px;
  }
  .ds-div-scanPageDemo {
    height: 55vh;
  }
  .ds-div-scanPageAPI {
    margin: 10px auto 0 auto;
    padding: 10px;
    height: 50px;
  }
  .ds-div-download {
    top: 50px;
  }
}

#dynamsoft-dialog-selectsource-sourcelist {
  margin: 3px 0 10px 0;
}
