@font-face { font-family: Oswald-Regular; src: local('☺'), url("fonts/Oswald-Regular.ttf") format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: Oswald; src: local('☺'), url("fonts/Oswald-VariableFont_wght.ttf") format('truetype'); font-weight: normal; font-style: normal; }

.tc { text-align: center; }

.ds-ddv-button
{
    width: 87px;
    height: 32px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    font: normal normal normal 16px/24px Oswald-Regular;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.ds-ddv-button.gray { background: #ddd; }
.ds-ddv-button.active {background: 0% 0% no-repeat padding-box padding-box rgb(254, 142, 20);}
.ds-ddv-button.active:hover { background: #ffae38; }

/*input[type=button]{
    padding: 6px 20px; 
    margin: 20px 4px 20px 0;
    background-color: #323234;
    color: #FFF;
    cursor: pointer;
}
input[type=button]:disabled{
    background-color: #CCC;
}*/

#source, #filterBy { 
    width: 280px;
    height: 30px;
    position: relative;
}

#unitType {
    width: 280px;
}

#Resolution {
    width: 80px;
    height: 30px;
}


#dwtcontrolContainer { 
    margin: 0;
    padding: 0;
    border: 0;
}

#unitType, #fileFormat {
    height: 30px;
}

input[type=text]{
    height: 30px;
}

.dvs-changeSizeBox,.dvs-rotateBox {
    width: 280px;
}

#fileFormat, #txt_XferCount {
    width: 280px;
}
#filePath {
    width: 280px
}

#fileType {
    height: 30px;
    width: 80px;
}

.ds-div-scanPage-column0 span {
    width: 120px;
    display: inline-block;
}